@import 'tailwindcss';

@layer base {
	a {
		color: var(--color-blue-600);
		text-decoration: underline;
	}
}
@layer components {
	@layer components {
		.button {
			@apply inline-flex items-center justify-center gap-2
            rounded-lg
            px-4 py-2
            text-sm font-medium
            transition-colors duration-200
            focus:outline-none focus:ring-2 focus:ring-offset-2
            disabled:opacity-50 disabled:pointer-events-none
            bg-blue-600 text-white
            hover:bg-blue-700
            focus:ring-blue-500;
		}
	}
}
