@import 'tailwindcss';

@layer base {
	a {
		@apply text-blue-500 underline cursor-pointer
	}
    input {
        @apply border border-zinc-700 text-[16px] placeholder:text-[16px] bg-black py-1.5 px-4 rounded-xl
    }
}
@layer components {
	@layer components {
		.button {
			@apply inline-flex items-center justify-center gap-2
            cursor-pointer no-underline
            focus:outline-none
            disabled:opacity-50 disabled:pointer-events-none
            text-black bg-white py-1.5 px-4 rounded-3xl font-medium hover:bg-black
            hover:text-white transition-all duration-300 ease-out
		}
	}
}
